{% extends "_layout.twig" %}

{% block content %}
    <p>
        I'm a {{ age }} year old web developer that enjoys doing all sorts of different projects in the
        development realm.
    </p>
    <p>
        Primarily, I am a web engineer for Geek Squad, developing web-based tools for Agents to use in their roles
        to help facilitate a better client and Agent experience.
    </p>
    <p>
        In addition to Geek Squad, <a href="http://derekfernholz.com" target="_blank">Derek Fernholz</a> and I founded
        <a href="http://dydro.com" target="_blank">Dydro LLC</a>, a company for our collaborations and fun side projects.
    </p>
    <p>
        I will occasionally do additional projects and experiments outside of these entities for my own experience
        and enjoyment. Most of these never get published or go outside of my local environment.
    </p>
{% endblock %}