{% extends "_layout.twig" %}

{% block title %}Troy McCabe | Resume{% endblock %}

{% block content %}
    <div class="jobs">
        <div>
            <h3>[2010 - Present] Web Engineer : Geek Squad</h3>
            <p>
                Responsible for the creation and maintenance of applications used primarily by Geek Squad Agents,
                but also by the general employee base to assist with their jobs. Handled requirements gathering,
                put coding standards, documentation methods, communication methods into place for the team. Responsible for
                gathering and aggregating user feedback and direct interaction with field employees including, but not limited
                to, internal news articles, interactions on the internal forums, and direct communications with Agents or
                employees.
            </p>
        </div>
        <div>
            <h3>[2009 - 2010] Application Developer : VISI Inc.</h3>
            <p>
                Responsible for maintenance of internal and external interfaces for management of VISI systems.
                Responsible for the PHP code for working with various APIs of VISI systems and all pertinent
                maintenance. Handled requirements gathering, release management, introduced documentation and coding
                standards to the development team. Managed production servers, both Linux (Debian) and Windows.
                Responsible for introducing the team to strict cross-browser JavaScript and CSS practices and
                introducing the team to EXTJS, a cross-browser JavaScript library.
            </p>
        </div>
        <div>
            <h3>[2008 - 2009] Services Analyst : Best Buy Inc.</h3>
            <p>
                Responsible for developing and delivering reports from TeraData and FORT based on customer requirements.
                Responsible for scheduling and maintaining developed jobs in FORTRunner that would deliver reports on a
                set schedule. Worked with customers to develop data requirements so that the report developed would
                provide them the most pertinent data in a timely fashion.
            </p>
        </div>
        <div>
            <h3>[2007 - 2008] Retail Developer : Best Buy Inc.</h3>
            <p>
                Responsible for brainstorming, collecting feedback, developing and maintaining applications for use by
                Best Buy Company employees. Responsible for additional resources, such as third party/universal
                libraries and classes, making sure they are up-to-date and organized. Responsible for maintaining
                database structure, query tuning, application performance, validating accessibility and JavaScript
                errors in a variety of browsers (Firefox 2 & 3, Internet Explorer 6, 7 and 8, Opera, and Safari) for
                the Employee Development Team applications. Responsible for assimilating new developers, making sure
                everyone has the tools to do their job, assigning tasks, and making sure deadlines are met, in
                conjunction with the entire team.
            </p>
        </div>
    </div>
{% endblock %}