html {
    overflow-y: scroll;
}

html, body {
    background: #333;
}

h1, h2, h3, h4, h5, h6, #main-links li {
    font-family: Electrolize, monospace;
}

h1 {
    color: #E8E8E8;
    margin: 50px auto 0;
    width: 960px;
}

h2 {
    margin-top: 0;
}

a {
    color: #517D74;
    text-decoration: none;
}

.clear {
    clear: both;
}

/*
Red:
 bg: #8C2222
 bs: #8E2323

Green:
 bg: #517D74
 bs: #527F76

Blue:
 bg: #4580B1
 bs: #4682B4

Yellow:
 bg: B2A441
 bs: B5A642

Orange:
 bg: #FC6100
 bs: #FF6300
*/
#content-container {
    -moz-animation: fade 240s linear infinite;
    -webkit-animation: fade 240s linear infinite;
    animation: fade 240s linear infinite;
    background: #517D74;
    border-radius: 1px;
    box-shadow: 0 0 50px 75px #527F76;
    margin: 0 auto 100px;
    padding-top: 15px;
    width: 960px;
}

@-moz-keyframes fade {
    0% {
        background: #517D74;
        box-shadow: 0 0 50px 75px #527F76;
    }
    25% {
        background: #8C2222;
        box-shadow: 0 0 50px 75px #8E2323;
    }
    50% {
        background: #4580B1;
        box-shadow: 0 0 50px 75px #4682B4;
    }
    75% {
        background: #B2A441;
        box-shadow: 0 0 50px 75px #B5A642;
    }
    100% {
        background: #517D74;
        box-shadow: 0 0 50px 75px #527F76;
    }
}

@-webkit-keyframes fade {
    0% {
        background: #517D74;
        box-shadow: 0 0 50px 75px #527F76;
    }
    25% {
        background: #8C2222;
        box-shadow: 0 0 50px 75px #8E2323;
    }
    50% {
        background: #4580B1;
        box-shadow: 0 0 50px 75px #4682B4;
    }
    75% {
        background: #B2A441;
        box-shadow: 0 0 50px 75px #B5A642;
    }
    100% {
        background: #517D74;
        box-shadow: 0 0 50px 75px #527F76;
    }
}

@keyframes fade {
    0% {
        background: #4580B1;
        box-shadow: 0 0 50px 75px #4682B4;
    }
    25% {
        background: #8C2222;
        box-shadow: 0 0 50px 75px #8E2323;
    }
    50% {
        background: #FC6100;
        box-shadow: 0 0 50px 75px #FF6300;
    }
    75% {
        background: #B2A441;
        box-shadow: 0 0 50px 75px #B5A642;
    }
    100% {
        background: #517D74;
        box-shadow: 0 0 50px 75px #527F76;
    }
}

#main-links {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#main-links li {
    background: #999;
    border-radius: 3px 3px 0 0;
    display: inline-block;
}

#main-links li a {
    color: #E8E8E8;
    display: inline-block;
    font-size: 1.1em;
    line-height: 35px;
    height: 35px;
    padding: 0 25px;
    text-decoration: none;
}

#main-links li:hover {
    background: #AAA;
}

#main-links li.active, #main-links li.active:hover {
    background: #E8E8E8;
}

#main-links li.active a {
    color: #000;
}

#content-wrapper {
    float: left;
}

#main-content-wrapper {
    background: #E8E8E8;
    border-radius: 0 3px 3px 3px;
    width: 660px;
}

#main-content-wrapper > div {
    padding: 10px;
}

#module-wrapper {
    border-radius: 3px;
    float: left;
    margin-left: 25px;
    width: 255px;
}

#module-wrapper > div {
    margin-bottom: 25px;
}

#module-wrapper > div > div {
    background: #E8E8E8;
    border-radius: 0 0 3px 3px;
    padding: 5px 10px;
}

#module-wrapper div h2 {
    background: #999;
    border-radius: 3px 3px 0 0;
    color: #FFF;
    height: 35px;
    line-height: 35px;
    margin-bottom: 0;
    text-align: center;
}

#lifestream-logo-wrapper {
    /*border-bottom: 2px dashed #CCC;*/
}

#lifestream-logo-wrapper p {
    margin: 0;
}

#lifestream-logo-wrapper p a {
    /*opacity: .5;*/
}

#lifestream-logo-wrapper p input {
    margin: 0 8px;
}

#lifestream-placeholder {
    height: 100px;
    line-height: 100px;
    padding: 0 10px;
    text-align: center;
}

#professional-container div a:last-child {
    margin-left: 10px;
}

#projects-container > div {
    border-bottom: 3px dashed #CCC;
    padding-bottom: 15px;
}

#projects-container > div:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

#projects-container > div > img {
    float: left;
    margin-right: 15px;
}

.store-links {
    margin-top: 15px;
    clear: both;
}

.jobs div {
    border-bottom: 3px dashed #CCC;
}

.jobs div:last-child {
    border-bottom: 0;
}

@media screen and (max-width: 960px) {
    h1 {
        width: 100%;
    }

    #content-container {
        width: 100%;
    }

    #content-wrapper {
        float: none;
        width: 100%;
    }

    #main-content-wrapper {
        width: 100%;
    }

    #module-wrapper {
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
    }
}

@media screen and (max-width: 500px) {
    #main-links li {
        display: block;
        width: 100%;
    }
}